<mat-toolbar color="primary" role="heading">
  <span>
    <a routerLink="/">Smartbell</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login">Iniciar sesion</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup">Registrarse</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogOut()">Cerrar sesion</button>
    </li>
  </ul>
</mat-toolbar>
