<div>
  <h1>ELIGE TU COACH</h1>
  <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
  <mat-accordion multi="true" *ngIf="coaches.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let coach of coaches" [expanded]="true">
      <mat-expansion-panel-header>
        {{ coach.displayName }}
      </mat-expansion-panel-header>
      <div class="coach-image">
        <img [src]="coach.imagePath" [alt]="coach.displayName" />
      </div>
      <p class="coach-description">
        {{ coach.description }}
      </p>
      <div class="profile-btn-container">
        <button mat-raised-button color="accent">
          Ver perfil
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator
    [length]="totalCoaches"
    [pageSize]="coachesPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
    *ngIf="coaches.length > 0"
  ></mat-paginator>
  <p class="info-text mat-body-1" *ngIf="coaches.length <= 0 && !isLoading">
    Aun no hay coaches!
  </p>
</div>
