ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

ul {
  display: flex;
}

.mat-toolbar.mat-primary {
  background: #ff4848;
}

app-logo {
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
}