mat-form-field {
  width: 100%;
}

.checkbox-container {
  margin-bottom: 1%;
  margin-top: 1%;
}

button.mat-raised-button {
  background: #ff4848;
  color: white;
  margin-top: 1%;
}

button.mat-fab {
  background-image: url("../../assets/camera.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  color: white;
  width: 10rem;
  height: 10rem;
  display: block;
  margin: 0 auto;
}

input[type="file"] {
  visibility: hidden;
}
