mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.spinner::ng-deep circle {
  stroke: #ff4848;
}

.checkbox-container {
  margin-bottom: 1%;
  margin-top: 1%;
}

button.mat-raised-button {
  background: #ff4848;
  color: white;
}
