<mat-card>
  <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
  <form [formGroup]="form" (submit)="onSignup()" *ngIf="!isLoading">
    <button
      type="button"
      mat-fab
      (click)="filePicker.click()"
      [style.backgroundImage]="
        imagePreview !== '' &&
        imagePreview &&
        form.get('image').valid &&
        'url(' + imagePreview + ')'
      "
    ></button>
    <input type="file" #filePicker (change)="onImagePicked($event)" />

    <mat-form-field>
      <input
        matInput
        formControlName="email"
        name="email"
        type="email"
        placeholder="Direccion de  correo electronico"
      />
      <mat-error *ngIf="form.get('email').invalid"
        >Ingresa una direccion de correo electronico valida</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="password"
        name="password"
        type="password"
        placeholder="Contraseña"
      />
      <mat-error *ngIf="form.get('password').invalid"
        >Ingresa una contraseña</mat-error
      >
    </mat-form-field>

    <div class="checkbox-container">
      <mat-checkbox
        (click)="onToggle(isChecked)"
        matInput
        formControlName="isCoach"
        name="isCoach"
        >Soy coach</mat-checkbox
      >
    </div>

    <mat-form-field *ngIf="!isChecked">
      <input
        matInput
        formControlName="firstName"
        name="firstName"
        type="text"
        placeholder="Nombre"
      />
      <mat-error *ngIf="form.get('firstName').invalid"
        >Completa este campo</mat-error
      >
    </mat-form-field>

    <mat-form-field *ngIf="!isChecked">
      <input
        matInput
        formControlName="lastName"
        name="lastName"
        type="text"
        placeholder="Apellido"
      />
      <mat-error *ngIf="form.get('lastName').invalid"
        >Completa este campo</mat-error
      >
    </mat-form-field>

    <mat-form-field *ngIf="isChecked">
      <input
        matInput
        formControlName="displayName"
        name="displayName"
        type="text"
        placeholder="Nombre de coach/gimnasio"
      />
      <mat-error *ngIf="form.get('displayName').invalid"
        >Completa este campo</mat-error
      >
    </mat-form-field>
    <mat-form-field *ngIf="isChecked">
      <input
        matInput
        formControlName="cbu"
        name="cbu"
        type="text"
        placeholder="Agrega tu CBU para recibir los pagos de tus clientes"
      />
      <mat-error *ngIf="form.get('cbu').invalid">Completa este campo</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="isChecked">
      <textarea
        matInput
        formControlName="description"
        name="description"
        placeholder="Escribe sobre ti..."
        rows="4"
        cols="50"
      >
      </textarea>
      <mat-error *ngIf="form.get('description').invalid"
        >Completa este campo</mat-error
      >
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">
      Registrarse
    </button>
  </form>
</mat-card>
