.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.container form {
    height: 100%;
    width: 50%;
}

.container .previews {
    width: 50%;
    overflow: hidden;
}

.image-preview img {
    max-width: 25em;
    max-height: 10em;
}

label {
    display: block;
    font-size: 2em;
}

.form-group {
    margin-bottom: 20px;
}

button.mat-raised-button {
    background: #ff4343;
    color: white;
    margin-top: 1%;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  }

button.mat-raised-button:disabled {
background: rgb(153, 153, 153);
}

h1 {
    margin-top: 0px;
    font-weight: normal;
}