// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: 100%;
  background-image: url("src/app/assets/bg.jpg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
}

// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat-core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $smartbell-frontend-primary: mat-palette($mat-indigo);
// $smartbell-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $smartbell-frontend-warn: mat-palette($mat-red);

// // Create the theme object (a Sass map containing all of the palettes).
// $smartbell-frontend-theme: mat-light-theme(
//   $smartbell-frontend-primary,
//   $smartbell-frontend-accent,
//   $smartbell-frontend-warn
// );

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($smartbell-frontend-theme);
